.friends {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.friends__header {
  padding: calc(5 * var(--element-width)) calc(4.6 * var(--element-width));
  border-bottom: 1px solid #e0e0e0;
}

.friends__header h1 {
  margin: 0;
  font-size: calc(6 * var(--element-width));
  color: #2B2B2B;
  text-align: left;
}

.friends__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(4.6 * var(--element-width));
}

.friends__content p {
  font-size: calc(4 * var(--element-width));
  color: #666;
}
