.friends-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.friends-screen__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(4.6 * var(--element-width));
}

.friends-screen__content p {
  font-size: calc(4 * var(--element-width));
  color: #666;
}


