.friends-tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  transition: opacity 100ms ease-in-out;
}

.friends-tab.fade-in {
  opacity: 1;
}

.friends-tab.fade-out {
  opacity: 0;
}
