.friends-tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, var(--brown-primary) 0%, var(--brown-secondary) 100%);
  transition: opacity 20ms ease-in-out;
}

.friends-tab.fade-in {
  opacity: 1;
}

.friends-tab.fade-out {
  opacity: 0;
}
