.profile-tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background: #f5f5f5;
  transition: opacity 100ms ease-in-out, transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), filter 0.4s cubic-bezier(0.4, 0, 0.2, 1), border-radius 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center bottom;
}

.profile-tab--stacked-modal-active {
  transform: scale(0.96);
  filter: brightness(0.7);
  border-radius: calc(3.8 * var(--element-width)) calc(3.8 * var(--element-width)) 0 0;
  overflow: hidden;
  box-shadow: 0 calc(1.8 * var(--element-width)) calc(7.4 * var(--element-width)) rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.profile-tab.fade-in {
  opacity: 1;
}

.profile-tab.fade-out {
  opacity: 0;
}
