.profile-tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background: linear-gradient(180deg, var(--brown-primary) 0%, var(--brown-secondary) 100%);
  transition: opacity 100ms ease-in-out;
}

.profile-tab.fade-in {
  opacity: 1;
}

.profile-tab.fade-out {
  opacity: 0;
}
