#root {
  width: 100%;
  max-width: calc(100 * var(--app-width));
  height: 100dvh;
  margin: 0 auto;;
  padding-bottom: var(--bottom-nav-height); /* Space for bottom nav */
  text-align: center;
  background-color: var(--brown-primary);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.screen-container {
  width: 100%;
  height: 100%;
  transition: opacity 200ms ease-in-out;
}

.screen-container.fade-in {
  opacity: 1;
}

.screen-container.fade-out {
  opacity: 0;
}
