#root {
  width: 100%;
  max-width: calc(100 * var(--app-width));
  height: 100dvh;
  margin: 0 auto;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

