:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #213547;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Bottom nav height - single source of truth */
  --bottom-nav-height: calc(16 * var(--element-width));
}

*,
*:focus,
*:active,
button,
button:focus,
button:active,
input,
input:focus,
input:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
}

h1 {
  font-size: calc(8 * var(--element-width));
  line-height: 1.1;
}
